#version 1
#PREAMBLE

#####################################
#               DATES               #
#####################################
snippet today
`!v strftime("%d.%m.%y")`
endsnippet

snippet time
`!v strftime("%H:%M")`
endsnippet

snippet date
`!v strftime("%H:%M %d.%m.%y")`
endsnippet
